<section class="benefits" id="diferenciais">
	<div class="benefits__container">
		<div class="benefits__side" data-aos="fade-right" data-aos-delay="300">
			<img src="./assets/img.jpg?as=webp" alt="ambiente de produção da glynett" />
		</div>
		<div class="benefits__content">
			<h3 class="default__title" data-aos="fade-left" data-aos-delay="300">Chega de sofrer com a não aceitação do
				mercado,</h3>
			<p class="default__desc" data-aos="fade-left" data-aos-delay="300">
				com a falta de suporte e treinamento,  com limites mínimos para compra e com produtos duvidosos. Com mais de 20
				anos de experiência, oferecemos produtos
				<br />
				de qualidade superior, desenvolvidos com tecnologia, fórmula e fragrâncias francesas.
			</p>

			<ul class="benefits__list">
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="300">
					<img src="./assets/checkbox-circle-fill.svg" alt="circulo que indica presença (check)" />
					<p class="benefits__list--text">2000m² de espaço fabril</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="400">
					<img src="./assets/checkbox-circle-fill.svg" alt="circulo que indica presença (check)" />
					<p class="benefits__list--text">
						Capacidade de produção de mais de 16 mil <br />
						frascos por dia
					</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="500">
					<img src="./assets/checkbox-circle-fill.svg" alt="circulo que indica presença (check)" />
					<p class="benefits__list--text">4 toneladas de produtos produzidos por dia <br />em todo o Brasil</p>
				</li>
				<li class="benefits__list--item" data-aos="fade-left" data-aos-delay="600">
					<img src="./assets/checkbox-circle-fill.svg" alt="circulo que indica presença (check)" />
					<p class="benefits__list--text">+ 20 anos de experiência no mercado</p>
				</li>
			</ul>
			<div class="button--container" data-aos="fade-left" data-aos-delay="300">
				<a href="#form" class="button bigger">COMECE A LUCRAR A PARTIR DE 100% AGORA MESMO</a>
			</div>
		</div>
	</div>
</section>