<section class="politics">
	<div class="politics__container">
		<h2 class="default__title">Posicione a Glynett como sua marca principal de atuação</h2>
		<p class="default__desc">
			Valorizamos nossos revendedores e mantemos uma relação duradoura de sucesso. Nossa ética e responsabilidade socioambiental <br />
			garantem uma parceria confiável e responsável — algo positivo tanto para você quanto para seus clientes.
		</p>
		<div class="politics__content">
			<div class="politics__card">
				<img src="./assets/img-pos-1.jpg?as=webp" alt="" />
				<h3 class="politics__card--title">100% Cruelty Free</h3>
				<p class="default__desc">
					Não realizamos testes em animais — um método atrasado e, em muitos casos, ineficiente. Por isso, atuamos com a auto-experimentação em mechas soltas,
					posteriormente, em modelos.
				</p>
			</div>
			<div class="politics__card">
				<img src="./assets/img-pos-2.jpg?as=webp" alt="" />
				<h3 class="politics__card--title">Temos responsabilidade socioambiental</h3>
				<p class="default__desc">
					Temos em nossa fábrica uma Estação de Tratamento de Esgoto Industrial (ETI), em que o esgoto produzido é tratado antes de retornar ao meio ambiental.
					Todas as nossas embalagens são recicláveis.
				</p>
			</div>
			<div class="politics__card">
				<img src="./assets/img-pos-3.jpg?as=webp" alt="" />
				<h3 class="politics__card--title">Atuamos com alta tecnologia francesa</h3>
				<p class="default__desc">
					Nossas fórmulas são dermatologicamente testadas, isentas de sal e corantes, e com pH controlado. São avaliadas sob rigoroso controle, tornando-se mais
					seguras para uso.
				</p>
			</div>
			<div class="politics__card">
				<img src="./assets/img-pos-4.jpg?as=webp" alt="" />
				<h3 class="politics__card--title">Somos certificados pela Anvisa</h3>
				<p class="default__desc">
					Todo o processo de produção e os produtos da Glynett são fiscalizados e aprovados pela ANVISA, garantindo segurança e qualidade em todos os seus
					produtos.
				</p>
			</div>
		</div>
	</div>
</section>
