<section class="resources" id="resources">
	<div class="resources__container">
		<!-- <div class="tag" data-aos="fade-down" data-aos-delay="300">
			<p class="tag__text">depoimentos</p>
		</div> -->
		<h2 class="default__title" data-aos="fade-down" data-aos-delay="300">Revenda produtos para os salões da sua cidade e região</h2>
		<p class="default__desc" data-aos="fade-down" data-aos-delay="300">
			Sabemos que para se destacar em meio à concorrência, garantir a satisfação dos clientes e lidar com a instabilidade do fornecimento <br />
			são apenas alguns dos desafios que você enfrenta.<b> Por isso, temos uma excelente oportunidade para você ampliar seus ganhos:</b>
		</p>

		<div class="resources__content">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/Vector.svg" alt="um saco de dinheiro" /></div>
				<p class="default__desc">Lucro acima de 100%</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="400">
				<div class="card-resources__icon"><img src="./assets/Solid.svg" alt="um gráfico indicando crescimento" /></div>
				<p class="default__desc">Alta rentabilidade</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/time.svg" alt="um relógio destacando um quarto" /></div>
				<p class="default__desc">Retorno imediato</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="600">
				<div class="card-resources__icon"><img src="./assets/Solid-2.svg" alt=" duas mãos se cumprimentando em forma de ícone" /></div>
				<p class="default__desc">Negociação facilitada, sem compra mínima</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="700">
				<div class="card-resources__icon"><img src="./assets/Solid-3.svg" alt="uma flecha em um alvo" /></div>
				<p class="default__desc">Área de venda fechada e exclusiva</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="800">
				<div class="card-resources__icon"><img src="./assets/Solid-4.svg" alt="uma cesta de supermercado" /></div>
				<p class="default__desc">linha completa de produtos</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="900">
				<div class="card-resources__icon"><img src="./assets/Solid-5.svg" alt="um calendário com o numeral hum presente" /></div>
				<p class="default__desc">Lançamentos mensais</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="1000">
				<div class="card-resources__icon"><img src="./assets/Solid-6.svg" alt="um fone de ouvido com microfone" /></div>
				<p class="default__desc">Suporte técnico 7 dias por semana e suporte de marketing</p>
			</div>
		</div>
	</div>
</section>
