<section class="testimonials">
	<div class="testimonials__container">
		<h3 class="default__title">Distribuidores Glynett comprovam esse sucesso</h3>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Trabalho com a Glynett há mais de 10 anos, e durante esse período o sentimento que temos é de estar em
					parceria com uma empresa extremamente dedicada
					no que faz. Ela traz sempre muita inovação, tecnologia, qualidade e responsabilidade em relação aos seus
					produtos e às pessoas que fazem parte dessa
					empresa tão grandiosa e valorosa. Temos a enorme satisfação de representar essa marca no meu estado.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Everton</p>
						<p class="avatar__desc">CEO Glynett Vale</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Trabalho na área há mais de 10 anos e com a Glynett há cerca de 6 anos. Para mim, a marca sempre foi sinônimo
					de qualidade, e essa confiança é
					transferida aos meus clientes, resultando em parcerias duradouras e sólidas.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person-1.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Maicson</p>
						<p class="avatar__desc">CEO Glynett Salvador</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Represento a Glynett desde 2003. Seus produtos são conceituados e de alta qualidade, associados ao requinte
					francês, sendo muito bem aceitos no
					mercado. O atendimento é diferenciado e humanizado, e a empresa está sempre em busca de inovações. Estou
					extremamente satisfeito em fazer parte da
					equipe e representar a marca em meu estado, Vitória/ES!
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person-2.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Kleber</p>
						<p class="avatar__desc">CEO Glynett Vitória</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					A Glynett é uma empresa com atendimento diferenciado e humanizado, possui produtos maravilhosos, requintados e
					bem aceitos pelo mercado, devido à
					busca incessante pela qualidade e a inovação dos seus produtos. Como empresário, estou muito satisfeito em
					fazer parte da família Glynett e em
					representar a marca em meu estado (Mato Grosso), desde 2003.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person-3.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Edilson Stiz</p>
						<p class="avatar__desc">CEO Glynett Cuiabá</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Iniciei minha parceria com a Glynett em 2013, após conhecer e me apaixonar pela marca. Desde então, sou
					distribuidora na região de Ribeirão Preto/SP.
					A cada dia, fico mais encantada com a empresa, que sempre lança novos produtos para o mercado, priorizando
					sempre o meio ambiente, a qualidade e os
					resultados. Meus clientes amam!!!! E como sempre dizem, quem usa Glynett jamais esquece.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person-4.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Gisela</p>
						<p class="avatar__desc">CEO Glynett Ribeirão Preto</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Sou cabeleireiro desde 1991, conheci e comecei a trabalhar com a Glynett em 2011. A qualidade dos produtos é
					fantástica e sempre há ótimos
					lançamentos. Além disso, o atendimento e suporte é excelente. Estou muito satisfeito em representar essa marca
					e integrar essa equipe. Que venham mais
					anos dessa parceria com a Glynett.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person-5.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Urias</p>
						<p class="avatar__desc">CEO Glynett Guaíra</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Trabalho com a Glynett desde 2003. Sabe qual é o segredo para essa parceria tão duradoura? A qualidade dos
					produtos, a responsabilidade social e o
					atendimento humanizado que eles têm. Estão sempre inovando e lançando produtos de qualidade, sempre
					acompanhando as tendências do mercado de
					cosméticos e sempre com aquela qualidade e fragrância que é uma marca única da linha Glynett. Eu, meus
					clientes e meu estado Pernambuco desejamos a
					Glynett longos anos de sucesso e prosperidade.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/Placeholder Person-6.png?as=webp"
							alt=" pessoa que fez um comentario descritivo qualquer" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Vera</p>
						<p class="avatar__desc">CEO Glynett Garanhuns</p>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonials__slider">
			<button class="slide-slick-prev slick-arrow"><img src="./assets/btn-l.png?as=webp"
					alt="seta para clicar para voltar o slide" /></button>
			<button class="slide-slick-next slick-arrow"><img src="./assets/btn-r.png?as=webp"
					alt="seta para clicar e ir para o proximo slide" /></button>
		</div>
		<div class="button--container">
			<a href="#form" class="button bigger">FAÇA PARTE DO NOSSO TIME DE DISTRIBUIDORES AGORA</a>
		</div>
	</div>
</section>